<!DOCTYPE html>
<html>
<head>
    <{include '@backend/views/include/common_miniheader.html'}>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <{include '@backend/views/include/common_header.html'}>
    <!-- Left side column. contains the logo and sidebar -->
    <{include '@backend/views/include/common_menu.html'}>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Simple Tables
                <small>preview of simple tables</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Tables</a></li>
                <li class="active">Simple</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">


                </div>


            </div>


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <{include '@backend/views/include/common_footer.html'}>


    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<{include '@backend/views/include/common_minifooter.html'}>
</body>
</html>
